@font-face {
  font-family: 'proxima-nova-b';
  src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'proxima-nova-r';
  src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'proxima-nova-rb';
  src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'proxima-nova-l';
  src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  font: 400 16px/21px 'proxima-nova-r', Helvetica, sans-serif;
  color: #363636;
  background: #fff;
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
}
a {
  transition: color .35s, background .35s;
  text-decoration: none;
  color: #00acff;
  position: relative;
  display: inline-flex;

  &:after {
    transform: translate3d(-50%, 0, 0);
    transition: all .5s;
    content: '';
    height: 1px;
    left: 50%;
    width: 100%;
    bottom: 1px;
    background: #00acff;
    opacity: .8;
    position: absolute;
  }
  &:hover {
    &:after {
      transform: translate3d(-50%, 2px, 0);
      opacity: 0;
    }
  }
}
img {
  vertical-align: top;
  border: 0;
}
* {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;

  &:before,
  &:after {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }
}
b {
  font-family: 'proxima-nova-b', Helvetica, sans-serif;
  font-weight: normal;
}
ul,
blockquote {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0 0 1.5em;

  i {
    font-style: normal;
    color: #00acff;
  }
}
header,
section,
aside,
footer,
nav {display: block;}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
}
.page {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 100px;
}
.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}
.col-13 {
  width: 33.333%;
  padding: 0 15px;
}
.col {
  padding: 0 15px;
}
.row  {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  width: 50%;
  padding: 0 15px;
}
.col-1 {
  width: 100%;
  padding: 0 15px;
}
.col-23 {
  width: 66.666%;
  padding: 0 15px;
}
#header {
  background: #f9fdff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, .35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 1;

    &:after,
    &:before {
      position: absolute;
      left: 199px;
      content: '';
      background: #f9fdff;
      width: 18px;
      height: 18px;
      box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .15);
      transform: rotate(45deg);
      top: 100%;
      margin-top: -10px;
    }
    &:before {
      transform: none;
      box-shadow: none;
      z-index: 2;
      left: 189px;
      width: 40px;
      margin-top: -20px;
    }
  }
}
.logo {
  background: url("../images/main-sprite.png");
  width: 131px;
  height: 28px;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  z-index: 20;

  a {
    text-indent: -9999px;
    overflow: hidden;
    height: 100%;
    display: block;
    
    &:after {
      display: none;
    }
  }
}
.slogan {
  position: relative;
  z-index: 10;
  color: #646464;
  font-weight: normal;
  font: 36px/46px 'proxima-nova-l', Helvetica, sans-serif;
  text-align: center;
  display: block;
  padding: 0 140px;

  b {
    font-weight: normal;
    padding: 0 5px;
    border: 1px solid #00b5ff;
    border-radius: 5px;
    font-family: 'proxima-nova-l', Helvetica, sans-serif;
    margin-right: 4px;
  }
}
.btn {
  padding: 11px 15px;
  white-space: nowrap;
  font: 14px/21px 'proxima-nova-b', Helverica, sans-serif;
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  box-shadow: 0 1px 0 #0093ce;
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(to bottom,  #00b7ff 0%, #00abff 100%);
  text-decoration: none;
  min-width: 170px;


  &.big-btn {
    font: 21px/26px 'proxima-nova-b', Helverica, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .3);
    padding: 27px 30px;
    display: block;
    border-radius: 4px;

    &.btn-icon {
      padding: 27px 80px;
    }
  }

  &.transparent-btn {
    background: none;
    color: #00acff;
    border: 1px solid #00adff;
    box-shadow: none;

    &:hover {
      background: rgba(0, 173, 255, .08);
    }
  }

  &:after {
    background: #fff;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }
  .download-icon {
    transform: translate3d(0, -50%, 0);
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 18px;

    &:before {
      transition: all .25s ease-in-out;
      content: '';
      width: 16px;
      height: 19px;
      background: url("../images/main-sprite.png") -167px -13px;
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  &:hover {
    &:after {
      opacity: .12;
    }
    .download-icon:before {
       transform: translate3d(-50%, -35%, 0);
     }
  }
}
.intro {
  .container {
    position: relative;
    padding-top: 34px;
    padding-bottom: 29px;

    &:after {
      z-index: -1;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      width: 61%;
      background: url("../images/bg-intro-box.jpg") 100% 0 no-repeat;
      background-size: contain;
    }
  }
  .row {
    align-items: flex-end;
    text-align: center;
  }
  .rating-info {
    display: flex;
    padding-bottom: 30px;
    align-items: center;

    li {
      padding: 0 25px 0 9px;
    }
  }
}
.alt-link {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
}
.steps-holder {
  width: 80%;
}
.steps {
  padding: 0 0 20px;

  li {
    margin-bottom: 19px;
    border: 1px solid #dce3e8;
    padding: 22px 17px 22px 67px;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    position: relative;
    background: #fff;

    &:before {
      position: absolute;
      left: 17px;
      top: 21px;
      content: '';
      width: 35px;
      height: 26px;
      background: url("../images/main-sprite.png") -41px -31px no-repeat;
    }

    &.run:before {
      background-position: -76px -33px;
    }
    &.scan:before {
      background-position: -119px -33px;
    }
  }
  b {
    text-transform: uppercase;

    a {
      text-transform: none;
    }
  }
  .name {
    margin-right: 10px;
  }
}
.customer-logos {
  border-top: 1px solid #eff7fa;
  padding: 17px 0;

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 10px 4%;
    }
  }
}
.features {
  background: #f2f6f8;
  padding: 32px 0;
  margin-bottom: 50px;

  .btn-prev,
  .btn-next {
    background: rgba(255, 255, 255, .72);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 113px;
    left: -27px;
    z-index: 21;
    text-indent: -9999px;
    overflow: hidden;
    display: none;

    &:before {
      content: '';
      width: 11px;
      height: 20px;
      background: url("../images/main-sprite.png") -206px 0 no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &:after {
      display: none;
    }
  }
  .btn-next {
    left: auto;
    right: -27px;

    &:before {
      background-position: -209px -42px;
    }
  }
}
.articles-holder {
  position: relative;
  overflow: visible !important;

  .heading {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    background: #f8fafb;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #dcdcdc;
    padding: 100px 20px 10px;
    margin: 0;
  }
  .item {
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    position: absolute;
    margin: 0 0 0 13px;

    &.active {
      z-index: 18;
    }

    .text-holder {
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      color: #737373;
      padding: 28px 25px 23px;

      p {
        margin-bottom: 27px;
      }
    }
  }
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 6px 0;
  width: 672px;

  li {
    width: 96px;
    height: 110px;
    margin: -7px 8px;

    &:nth-child(7) {
      margin-left: 66px;
    }
  }
  svg {
    transition: all .35s ease-in-out;
    stroke: #cbcbcb;
    stroke-width: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: -1;
    width: 100%;
  }
  a {
    display: block;
    position: relative;
    z-index: 1;
    text-indent: -9999px;
    outline: none;
    height: 110px;

    &:after {
      height: 50%;
      background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="96px" height="55px" viewBox="0 0 96 55" enable-background="new 0 0 96 55" xml:space="preserve"><defs></defs><polygon fill="#E7EAEC" points="0,27.499 0,0 47.977,0 95.953,0 95.953,27.499 47.977,55 "/></svg>') 50% 100% no-repeat;
      background-size: cover;
      opacity: 1;
      width: auto;
      right: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
      z-index: -2;
    }
    &:hover,
    &.active {
      svg {
        stroke: #00a6ff;
      }
    }
    &.active {
      &:after {
        transform: translate3d(0, 5px, 0);
      }
    }
  }
}

.features-list,
.features-holder {
  .tab:before,
  .heading:before {
    content: '';
    width: 60px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: url("../images/feature-sprite.png") no-repeat;
    background-size: cover;
  }
  .heading {
    &:before {
      transform: translate3d(-50%, 0, 0);
      top: 20px;
      width: 99px;
      height: 80px;
    }
  }
}
.security {
  &.heading:before {
    background-position: 0 -1263px;
  }
  &.tab:before {
    background-position: 0 -764px;
  }
}
.anti-theft {
  &.heading:before {
    background-position: 0 -265px;
  }
  &.tab:before {
    background-position: 0 -160px;
  }
}
.fast-cleanup {
  &.heading:before {
    background-position: 0 -1352px;
  }
  &.tab:before {
    background-position: 0 -817px;
  }
}
.duplicates-finder {
  &.heading:before {
    background-position: 0 -1444px;
  }
  &.tab:before {
    background-position: 0 -877px;
  }
}
.geek-demand {
  &.heading:before {
    background-position: 0 -91px;
  }
  &.tab:before {
    background-position: 0 -55px;
  }
}
.update-tracker {
  &.heading:before {
    background-position: 0 -1076px;
  }
  &.tab:before {
    background-position: 0 -652px;
  }
}
.backup {
  &.heading:before {
    background-position: 0 -355px;
  }
  &.tab:before {
    background-position: 0 -214px;
  }
}
.recovery {
  &.heading:before {
    background-position: 0 -1170px;
  }
  &.tab:before {
    background-position: 0 -708px;
  }
}
.disk-usage {
  &.heading:before {
    background-position: 0 -988px;
    margin: 0 0 0 9px;
  }
  &.tab:before {
    background-position: 0 -598px;
    margin: -2px 0 0 4px;
  }
}
.uninstaller {
  &.heading:before {
    background-position: 0 -899px;
  }
  &.tab:before {
    background-position: 0 -543px;
  }
}
.encryptor {
  &.heading:before {
    background-position: 0 -529px;
  }
  &.tab:before {
    background-position: 0 -324px;
  }
}
.default-apps {
  &.heading:before {
    background-position: 0 -438px;
  }
  &.tab:before {
    background-position: 0 -265px;
  }
}
.shredder {
  &.heading:before {
    background-position: 0 -810px;
  }
  &.tab:before {
    background-position: 0 -491px;
  }
}
.files-finder {
  &.heading:before {
    background-position: 0 -721px;
  }
  &.tab:before {
    background-position: 0 -436px;
  }
}
.login-items {
  &.heading:before {
    background-position: 0 -632px;
  }
  &.tab:before {
    background-position: 0 -383px;
  }
}
.memory-cleaner {
  &.heading:before {
    background-position: 0 -175px;
  }
  &.tab:before {
    background-position: 0 -105px;
  }
}
.heading {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}
.testimonials {
  padding-bottom: 52px;

  .row {
    align-items: stretch;
  }

  blockquote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #737373;
    border: 1px solid #dedede;
    border-radius: 3px;
    min-height: 100%;
  }
  .qute {
    padding: 21px 26px 18px;
  }
  p {
    margin: 0;

    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }
  }
  footer {
    color: #878787;
    border-top: 1px solid #dedede;
    padding: 15px 26px;
    font-size: 14px;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    b {
      display: block;
      color: #090909;
    }
    i {
      display: block;
      font-style: normal;
    }
  }
}
.review {
  display: flex;
  padding: 0 0 10px;
  margin: 0 5px 0 0;

  li {
    background: url("../images/main-sprite.png") no-repeat 0 -41px;
    width: 15px;
    height: 15px;
    text-indent: -99999px;
    overflow: hidden;
  }
}
.add-info {
  text-align: center;
  border-top: 1px solid #eaeaea;
  padding: 38px 0 27px;

  .btn {
    min-width: 390px;
  }
  .row {
    justify-content: space-around;

    .img-holder {
      width: 230px;
    }
  }
}
#footer {
  font: 12px/20px 'Myriad Pro', Helvetica, sans-serif;
  background: #f2fafd;
  text-align: center;
  color: #727b7e;
  text-overflow: ellipsis;
  padding: 0 15px 10px;

  p {
    margin: 0 0 6px;
  }
  .copy {
    color: #999;
    display: block;
  }
}
#nav {
  background: #f9fdff;
  border: solid #e3eaed;
  border-width: 1px 0;
  padding: 10px 0;
  margin: 0 -15px 10px;

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  li {
    padding: 5px 10px;
  }
}
#nav {
  font-size: 14px;

  a {
    color: #414141;

    &:hover {
      color: #00abff;
    }
    &:after {
      display: none;
    }
  }
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
  .logo {
    background: url("../images/main-sprite@2x.png");
    background-size: 220px 62px;
  }
  .btn {
    .download-icon {
      &:before {
        background: url("../images/main-sprite@2x.png") -167px -13px;
        background-size: 220px 62px;
      }
    }
  }
  .steps {
    li {
      &:before {
        background: url("../images/main-sprite@2x.png") -41px -31px no-repeat;
        background-size: 220px 62px;
      }
      &.run:before {
        background-position: -76px -33px;
        background-size: 220px 62px;
      }
      &.scan:before {
        background-position: -119px -33px;
        background-size: 220px 62px;
      }
    }
  }
  .review li {
    background: url("../images/main-sprite@2x.png") no-repeat 0 -41px;
    background-size: 220px 62px;
   }
  .features {
    .btn-prev:before {
      background: url("../images/main-sprite@2x.png") no-repeat -206px 0;
      background-size: 220px 62px;
    }
    .btn-next:before {
      background: url("../images/main-sprite@2x.png") no-repeat -209px -42px;
      background-size: 220px 62px;
    }
  }
}
@media (max-width: 1000px) {
  .steps-holder {
    width: 100%;
  }
  .rating-info {
    li {
      padding: 0 17px;
    }
  }
  .intro {
    .container:after {
      width: 57%;
    }
  }
  .features-list {
    width: 508px;

    li {
      &:nth-child(7) {
        margin-left: 8px;
      }
      &:nth-child(8n+5) {
        margin-left: 66px;
      }
      &:last-child {
        margin-left: 122px;
      }
    }
  }
  .articles-holder .item {
    margin: 0;
  }
}
@media (max-width: 900px) {
  .page {
    padding-top: 60px;
  }
  #header {
    position: absolute;
  }
  .slogan {
    font: 22px/28px 'proxima-nova-b', Helvetica, sans-serif;

    b {
      font-family: 'proxima-nova-b', Helvetica, sans-serif;
    }
  }
  .intro {
    .row {
      flex-direction: column;
      align-items: center;
    }
    .container:after {
      background: none;
    }
    .rating-info {
      justify-content: space-between;
      padding: 40px 0 10px;

      li {
        padding: 0 17px;
      }
    }
  }
  .features-holder {
    justify-content: center;

    .col {
      width: auto;

      + .col {
        width: 320px;
      }
    }
  }
  .articles-holder {
    margin-top: 80px;
  }
  .features-list {
    width: 396px;

    li {
      &:nth-child(6),
      &:nth-child(15),
      &:nth-child(8n+5),
      &:last-child {
        margin-left: 8px;
      }
      &:nth-child(6n+4) {
        margin-left: 66px;
      }
    }
  }
  .add-info {
    .row {
      justify-content: center;
    }
    .col {
      width: 100%;
      padding-bottom: 20px;
    }
    .img-holder {
      width: auto;
      order: 2;
    }
    .add-info-holder {
      width: 66.66%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 760px) {
  .intro {
    .col-12 {
      width: 66.66%;
    }
  }
  .slogan {
    padding-right: 0;
    text-align: left;
    padding-left: 150px;
    font-size: 20px;
  }
  .customer-logos {
    .logos {
      flex-wrap: wrap;
    }
  }
  .articles-holder {
    margin: 0;
  }
  .features-holder {
    flex-direction: column;
    align-items: center;

    .col {
      width: 50%;
    }
    .features-frame {
      width: 100%;
      order: 2;
    }
  }
  .features-list {
    display: none;
  }
  .testimonials {
    .qute,
    footer {
      padding: 15px;
    }
  }
  .features {
    .btn-prev {
      display: block;
      left: -70px;
    }
    .btn-next {
      display: block;
      right: -70px;
    }
  }
}
@media (max-width: 600px) {
  #header {
    .container {
      &:before,
      &:after {
        left: 50%;
      }
    }
  }
  .intro {
    .col-12 {
      width: 100%;
    }
    .rating-info {
      justify-content: space-around;
    }
  }
  .logo {
    display: block;
    position: relative;
    margin: 0 auto;
  }
  .slogan {
    display: none;
  }
  .features-frame + .col {
    width: 66.66%;
  }
  .testimonials {
    .col {
      width: 100%;

      + .col {
        margin-top: 20px;
      }
    }
  }
  .add-info {
    .add-info-holder {
      width: 100%;
    }
    .btn {
      min-width: auto;
    }
  }
}
@media (max-width: 480px)  {
  .features {
    overflow: hidden;

    .btn-prev {
      display: block;
      left: -27px;
    }
    .btn-next {
      display: block;
      right: -27px;
    }
  }
}
@media (max-width: 400px) {
  .steps {
    li {
      padding: 22px 10px 22px 54px;
      font-size: 16px;

      &:before {
        left: 13px;
      }
    }
    .name {
      margin: 0;
    }
  }
  .btn {
    &.big-btn {
      font-size: 18px;

      &.btn-icon {
        padding: 17px 60px;
      }
    }
    .download-icon {
      width: 32px;
      height: 32px;
      right: 15px;
    }
  }
  .intro {
    .rating-info {
      li {
        padding: 0 5px;
      }
    }
  }
  .features-holder {
    .col {
      width: 100% !important;
    }
  }
  .rating-info {
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }
}